.footer {
  background-color: var(--space-blue);
  color: var(--white);
  padding: 56px 16px;
  width: 100%;
  @include breakpoint('md') {
    padding: 48px 60px;
  }

  .grupo-enlaces-footer {
    display: flex;
    flex-direction: column;
    @include breakpoint('md') {
      flex-direction: row;
    }

    li {
      flex: 1;
    }
  }

  .grupo-enlaces {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
  }

  h5 {
    margin: 24px 0;
  }

  .enlace {
    color: var(--white);
    display: block;
    font-size: 16px;
    padding: 8px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .icono-red-social {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
}
