$header-height: 80px;

.header {
  align-items: center;
  border-bottom: solid 1px var(--pale-pink);
  display: flex;
  height: $header-height;
  justify-content: space-between;
  width: 100%;
  @include container-desktop;
  @include breakpoint('md') {
    justify-content: flex-end;
  }

  &-enlacehome {
    align-items: center;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    height: $header-height;
    width: 33%;
  }

  &-logo {
    height: auto;
    width: 200px;
  }

  &-enlaces {
    display: flex;
    height: $header-height;
    width: 100%;
  }

  .enlace {
    align-items: center;
    color: var(--space-blue);
    display: flex;
    flex: 1;
    font-family: var(--font-worksans);
    font-size: 16px;
    font-weight: 400;
    height: $header-height;
    justify-content: center;
    line-height: 24px;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  #burger-menu {
    cursor: pointer;
    height: 27px;
    margin: 26px;
    overflow: visible;
    position: relative;
    width: 27px;
    z-index: 2;

    @include breakpoint('md') {
      display: none;
    }

    // THE LINES
    span,
    span::before,
    span::after {
      background: var(--space-blue);
      display: block;
      height: 2px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
    }

    span::before,
    span::after {
      content: '';
    }

    // TOP
    span::before {
      left: 0;
      top: -10px;
      width: 27px;
    }

    // MIDDLE
    span {
      right: 0;
      top: 13px;
      width: 27px;
    }

    // BOTTOM
    span::after {
      left: 0;
      top: 10px;
      width: 27px;
    }

    // ROTATION ON CLICK
    &.close {
      // TOP
      span::before {
        top: 0;
        transform: rotate(90deg);
        width: 27px;
      }

      // MIDDLE
      span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
      }

      // BOTTOM
      span::after {
        left: 0;
        opacity: 0;
        top: 0;
        transform: rotate(90deg);
        width: 0;
      }
    }
  }

  #menu {
    height: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    padding-top: 20px;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    z-index: 1;

    @include breakpoint('md') {
      display: block;
      height: $header-height;
      opacity: 1;
      min-width: auto;
      min-height: $header-height;
      padding: 0;
      position: relative;
      top: unset;
      visibility: visible;
      width: 33%;
    }

    &.overlay {
      background: rgb(0 0 0 / 50%);
      opacity: 1;
      padding-top: 100px;
      visibility: visible;
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }
  }
}
