.header {
  display: flex;
  margin: 2.1rem 1.6rem 0;
  padding-bottom: 1.7rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--pale-pink);
}

.header-logo {
  width: 12rem;
  height: 2.2rem;
  object-fit: cover;
}

.menu {
  display: none;
}

.burger-menu {
  align-content: center;
  background-color: var(--space-blue);
  width: 1.8rem;
  height: 1.2rem;
}

.header-enlaces {
  text-transform: capitalize;
  font-family: var(--font-playfair-display);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}
  
.header-enlaces a {
  color: var(--space-blue);
}

@media (min-width: 1440px) {
  .header {
    margin: 1.6rem 6rem 0;
    padding-bottom: 2.4rem;
    position: relative;
    justify-content: center;
  }

  .burger-menu {
    display: none;
  }

  .menu {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .header-enlaces {
    display: flex;
    gap: 5.6rem;
    font-family: var(--font-worksans);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
  } 
}