.header {
  display: flex;
  margin: 2.1rem 1.6rem 0;
  padding-bottom: 1.7rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--pale-pink);

  &__logo {
    width: 12rem;
    height: 2.2rem;
  }

  .menu {
    display: none;
  }

  &__enlaces {
    text-transform: capitalize;
    font-family: var(--font-playfair-display);
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    display: flex;

    a {
      color: var(--space-blue);
    }
  }

  .burger-menu {
    align-content: center;
    width: 2.4rem;
    height: 2.4rem;
    padding: 0.6rem 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
  }
}

// Styles for menu modal
.menu-mobile {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);

  .close-button {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: 2.4rem;
    top: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__enlaces {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  &__enlaces .divider:not(:last-child) {
    width: 15.6rem;
    border-top: 0.1rem solid var(--pale-purple);
  }
}

@include breakpoint('lg') {
  .header {
    margin: 1.6rem 6rem 0;
    padding-bottom: 2.4rem;
    position: relative;
    justify-content: center;

    .burger-menu {
      display: none;
    }

    .menu {
      display: inline-block;
      position: absolute;
      right: 0;
    }

    &__enlaces {
      gap: 5.6rem;
      font-family: var(--font-worksans);
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}
