.section-hero {
  background-image: url('../images/bg-hero-mobile.png');
  background-position: center;
  height: 69.9rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  @include breakpoint('lg') {
    background-image: url('../images/bg-hero-desktop.png');
    height: 77.4rem;
  }

  &--heading {
    color: var(--space-blue);
    font-size: 1.6rem;
    margin: 26rem auto 0;
    max-width: 86.8rem;
    position: relative;
    text-align: center;
    width: 90%;

    &::before {
      background-image: url('../images/icon-hero.svg');
      background-size: cover;
      content: '';
      height: 7.2rem;
      left: calc(50% - 6.2rem);
      position: absolute;
      top: -10rem;
      width: 12.4rem;
      @include breakpoint('lg') {
        height: 13.8rem;
        width: 25.8rem;
        top: -17rem;
        left: calc(50% - 12.9rem);
      }
    }

    &::after {
      background-color: var(--space-blue);
      bottom: -9rem;
      content: '';
      height: 5.6rem;
      left: 50%;
      position: absolute;
      width: 0.1rem;
    }
    @include breakpoint('lg') {
      font-size: 2.4rem;
      line-height: 5.6rem;
      margin-top: 35rem;
    }

    h1 {
      margin: 0;
    }
  }

  &--images-container {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
  }

  &--image {
    position: absolute;
    width: auto;

    &-1 {
      height: 10.2rem;
      margin-top: 7.5rem;
      left: -2rem;
      @include breakpoint('lg') {
        height: 26.6rem;
        margin-top: 8.3rem;
      }
    }

    &-2 {
      height: 11rem;
      right: -3rem;
      @include breakpoint('lg') {
        height: 20.2rem;
        right: 24rem;
      }
    }

    &-3 {
      bottom: 0;
      height: 14.2rem;
      right: -1rem;
      @include breakpoint('lg') {
        height: 33.2rem;
      }
    }
  }
}
