.hero-component {
  @include container-desktop;

  width: 100%;
  min-height: 71.7rem;
  background-image: var(--fondo-hero);
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint('lg') {
    min-height: 77.4rem;
  }

  .logo-container {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint('lg') {
      margin-bottom: 3.2rem;
    }
  }

  img.logo1 {
    position: relative;
    width: 15%;
    height: auto;
    margin: 0 auto;

    @include breakpoint('lg') {
      width: 25.8rem;
      min-height: 13.8em;
    }
  }

  .logo1,
  .hero-detail-1,
  .hero-detail-2,
  .hero-detail-3 {
    position: absolute;
    width: auto;
    height: auto;
  }

  .hero-text {
    height: 14.7rem;

    h1 {
      font-family: var(--font-playfair-display);
      font-weight: 500;
      font-size: 32px;
      text-align: center;
      letter-spacing: -0.01em;
      color: var(--space-blue);
      line-height: 4.3rem;
      margin: 0 1.6rem;

      @include breakpoint('lg') {
        width: 100%;
        display: block;
        font-size: 4.8rem;
        line-height: 7rem;
        margin: 0 1.6rem;

        &:nth-child(2) {
          width: inherit;
          margin: 0 16%;
        }
      }
    }

    &::after {
      border-left: 1px solid var(--space-blue);
      content: '';
      display: block;
      height: 65px;
      width: 1px;
      z-index: 0;
      margin: 0 auto;

      @include breakpoint('lg') {
        height: 5.6rem;
      }
    }
  }

  img {
    @include breakpoint('lg') {
      width: auto;
      height: auto;
    }
  }

  .hero-detail-1 {
    position: absolute;
    height: 10.2rem;
    top: 7.5rem;
    left: 0;

    @include breakpoint('lg') {
      top: 8rem;
      left: 0;
      height: auto;
      width: 24%;
    }
  }

  .hero-detail-2 {
    position: absolute;
    width: 7.6rem;
    height: 111px;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: left;

    @include breakpoint('lg') {
      right: 16%;
      top: 0;
      height: auto;
      width: 14%;
    }
  }

  .hero-detail-3 {
    position: absolute;
    width: 113.66px;
    height: 127.72px;
    bottom: 0;
    right: 0;

    @include breakpoint('lg') {
      bottom: 0;
      right: 0;
      height: auto;
      width: 17%;
    }
  }
}
