.servicios {
  background-image: var(--fondo-servicios);
  background-size: cover;
  background-position: right;
  position: relative;
  padding: 40px 0 48px;
  display: flex;
  flex-direction: column;
  @include container-desktop;

  &--titulo {
    color: var(--space-blue);
    text-align: center;
  }

  &--descripcion {
    position: relative;
    color: var(--space-blue);
    text-align: center;
    width: calc(100% - 2rem);
    box-sizing: border-box;
    display: block;
    margin: 0 1rem 3rem;
    padding: 0;

    &::after {
      content: '';
      border-bottom: solid 1px var(--pale-purple);
      width: calc(100% - 96px);
      position: absolute;
      margin: auto 0;
      text-align: center;
      vertical-align: middle;
      left: 48px;
      bottom: -35px;
      @include breakpoint('lg') {
        bottom: -10px;
      }
    }

    @include breakpoint('lg') {
      padding: 0.5rem 20rem 3rem;
    }
  }

  &--tarjetas {
    &.page-servicios {
      display: block;
    }

    &.page-home {
      @include breakpoint('md') {
        display: flex;
      }
      @include breakpoint('sm') {
        display: block;
      }
    }
  }

  &--tarjeta {
    max-width: 129rem;
    width: calc(100% - 48px);
    margin: 0 24px 24px;
    align-items: center;
    box-sizing: border-box;
    @include breakpoint('md') {
      max-width: 129rem;
    }
    @include breakpoint('sm') {
      max-width: 30%;
    }

    & figure {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & img {
        width: 100%;
        height: auto;
        display: block;

        @include breakpoint('lg') {
          max-width: 90%;
        }
      }

      & figcaption {
        text-align: center;
        font-family: var(--font-playfair-display);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.25rem;
        color: var(--space-blue);
        margin: 24px 0;

        @include breakpoint('lg') {
          font-size: 1.25rem;
          line-height: 1.25rem;
        }
      }

      & a {
        text-align: center;
        line-height: 24px;
        background: var(--melon);
        border-radius: 24px;
        font-size: 16px;
        padding: 8px 24px;
        width: fit-content;
        margin: 0 auto;
        color: var(--space-blue);
      }
    }
  }
}
