.servicios {
  position: relative;
  padding: 40px 16px 48px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(var(--pastel-pink) 0%, var(--white) 100%);
  @include container-desktop;

  @include breakpoint('lg') {
    flex-direction: column;
  }

  &--titulo {
    color: var(--space-blue);
    text-align: center;
  }

  &--descripcion {
    position: relative;
    color: var(--space-blue);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 16px 0;

    &::before {
      content: '';
      border-bottom: solid 1px var(--pale-purple);
      width: 100%;
      position: absolute;
      margin: auto 0;
      text-align: center;
      vertical-align: middle;
      left: 0;
      top: 0;
      right: 0;
    }

    &::after {
      content: '';
      border-bottom: solid 1px var(--pale-purple);
      width: 100%;
      position: absolute;
      margin: auto 0;
      text-align: center;
      vertical-align: middle;
      left: 0;
      bottom: 0;
      right: 0;
    }

    @include breakpoint('lg') {
      padding: 16px 0;
    }
  }

  &--tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint('lg') {
      flex-direction: column;
    }

    &.page-servicios {
      display: block;
    }

    &.page-home {
      @include breakpoint('lg') {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &--tarjeta {
    width: 100%;
    margin: 0 0 24px;
    align-items: center;
    box-sizing: border-box;
    max-width: max(40%, 320px);

    @include breakpoint('lg') {
      width: 100%;
      max-width: 100%;
    }

    & figure {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & img {
        width: 100%;
        height: auto;
        display: block;

        @include breakpoint('lg') {
          width: 100%;
          max-width: 400px;
        }
      }

      & figcaption {
        text-align: center;
        font-family: var(--font-playfair-display);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.25rem;
        color: var(--space-blue);
        margin: 24px 0;

        @include breakpoint('lg') {
          font-size: 1.25rem;
          line-height: 1.25rem;
        }
      }

      & a {
        text-align: center;
        line-height: 24px;
        background: var(--melon);
        border-radius: 24px;
        font-size: 16px;
        padding: 8px 24px;
        width: fit-content;
        margin: 0 auto;
        color: var(--space-blue);
      }
    }
  }
}
