.tarjeta-producto {
  min-width: 32.8rem;
  max-width: 42.4rem;
  color: var(--space-blue);
  display: flex;
  flex-direction: column;

  &__enlace {
    text-decoration: none;
    color: var(--space-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 1.5rem;

    h3 {
      margin: 0;
    }
  }

  &__imagen {
    min-width: 32.8rem;
    max-width: 42.4rem;
    min-height: 32.8rem;
    max-height: 42.4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50% 50% 0 0;
    object-fit: cover;
    padding: 0.5rem;
  }

  &__nombre {
    font-family: var(--font-playfair-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
  }

  &__precio {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.6rem;
  }

  &__precio::before {
    content: '$';
    margin-right: 1.1rem;
  }
}

@include breakpoint('lg') {
  p {
    font-size: 180%;
  }

  .tarjeta-producto {
    padding-bottom: 3rem;

    &__enlace {
      gap: 2.4rem;
    }

    &__nombre {
      font-weight: 600;
    }
  }
}
