<div class="galeria-producto">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {{#each imagenesProducto}}
      <img class="swiper-slide tarjeta-producto__imagen" src="{{assetSrc this}}" alt="">
      {{/each}}
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="precio-producto">
    <p class="precio-producto__label">{{labelPrecio}}</p>
    <h3 class="precio-producto__precio tarjeta-producto__precio" data-precio="{{precioProducto}}">{{precioProducto}}</h3>
  </div>
</div>
