<header class="header">
  <a href={{enlaceHome}} class="header-enlacehome">
    <img src='{{assetSrc logo}}' alt='{{assetTitle logo}}' class="header-logo"/>
  </a>
	<div id="burger-menu">
		<span></span>
	</div>
	<div id="menu">
		<ul class="header-enlaces">
			{{#each enlacesHeader}}{{{module this}}}{{/each}}
		</ul>
	</div>
</header>