<header class="header">
  <a href={{enlaceHome}} class="header-enlacehome">
    <img src='{{assetSrc logo}}' alt='{{assetTitle logo}}' class="header-logo"/>
  </a>
	<div class="burger-menu" id="burger-menu">
		<span></span>
	</div>
	<div class="menu" id="menu">
		<ul class="header-enlaces">
			{{#each enlacesHeader}}
				<li>{{{module this}}}</li>
			{{/each}}
		</ul>
	</div>
</header>
