<section class="section-hero">
  <div class="section-hero--images-container">
	  <img class="section-hero--image section-hero--image-1" src='{{assetSrc imagenHero1}}' alt="">
	  <img class="section-hero--image section-hero--image-2" src='{{assetSrc imagenHero2}}' alt="">
	  <img class="section-hero--image section-hero--image-3" src='{{assetSrc imagenHero3}}' alt="">
  </div>
  <div class="section-hero--heading heading-1">{{{richText encabezado}}}</div>
</section>
