<section class='hero-component'>
  <div><img
      src='images/logo-atalaya.svg'
      alt='Logo Atalaya'
      width='138px'
      class='logo1'
    /></div>
  <div class='hero-text'>
    {{{richText encabezado}}}
  </div>

  <img src='{{assetSrc imagenHero1}}' alt='' class='hero1' />
  <img src='{{assetSrc imagenHero2}}' alt='' class='hero2' />
  <img src='{{assetSrc imagenHero3}}' alt='' class='hero3' />
</section>
