<section style="--fondo-servicios: url({{assetSrc background}})" class="servicios">
	<h2 class="servicios--titulo heading-2">{{titulo}}</h2>
	<p class="servicios--descripcion body">{{descripcion}}</p>
	<div class="servicios--tarjetas">
		{{#each card}}
			<div class="servicios--tarjeta">{{{module this}}}</div>
		{{/each}}
	</div>
</section>
