<section style="--fondo-sk: url({{assetSrc background}})" id="content-special-kit">
  <h2>{{{title}}}</h2>
  <p>{{{richText detalle}}}</p>
  <div id="group-tarjetas">

    {{#each tarjetasProduct}}
      {{{module this}}}
    {{/each}}

  </div>
</section>

