<div class="tarjeta-producto">
  <a href='{{enlaceProducto}}' class="tarjeta-producto__enlace">
    <img class="tarjeta-producto__imagen" src="{{assetSrc imagenProducto}}" alt="">
    <h3 class="tarjeta-producto__nombre">{{nombreProducto}}</h3>
    <h3 class="tarjeta-producto__precio precio-producto__precio">{{precioProducto}}</h3>
  </a>
</div>
